<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(null,null)"></div>
<body>


<!--<div class="title">-->

<!--</div>-->

<div class="car slider-wrap" style="margin-top: 10px">
    <div class="slider">
        <img th:src="@{/user/carousel/img/01.jpg}"/><p><strong>广州:</strong> 不辜负自己，不辜负此生.</p>
        <img th:src="@{/user/carousel/img/02.jpg}"/><p><strong>广州:</strong> 不辜负自己，不辜负此生.</p>
        <img th:src="@{/user/carousel/img/03.jpg}"/><p><strong>广州:</strong> 不辜负自己，不辜负此生.</p>
        <img th:src="@{/user/carousel/img/04.jpg}"/><p><strong>广州:</strong> 不辜负自己，不辜负此生.</p>
        <img th:src="@{/user/carousel/img/05.jpg}"/><p><strong>广州:</strong> 不辜负自己，不辜负此生.</p>
        <img th:src="@{/user/carousel/img/06.jpg}"/><p><strong>广州:</strong> 不辜负自己，不辜负此生.</p>
    </div>
</div>

<script type="text/javascript">
    var $slider = $('.slider-wrap');
    var html = $slider.html();

    // Options

    var defaults = {
        thumbSize:20,
        onSlideshowEnd:function(){
            $('.stop, .start').toggle()
        }
    };

    var effects = {
        'default': { x:6, y:4, random: true },
        simple: { x:6, y:4, effect: 'simple', random: true },
        left: { x:1, y:8, effect: 'left' },
        up: { x:20, y:1, effect: 'up', rewind: 60, backReverse: true },
        leftright: { x:1, y:8, effect: 'leftright' },
        updown: { x:20, y:1, effect: 'updown', cssSpeed: 500, backReverse: true },
        switchlr: { x:20, y:1, effect: 'switchlr', backReverse: true },
        switchud: { x:1, y:8, effect: 'switchud' },
        fliplr: { x:20, y:1, effect: 'fliplr', backReverse: true },
        flipud: { x:20, y:3, effect: 'flipud', reverse: true, rewind: 75 },
        reduce: { x:6, y:4, effect: 'reduce' },
        360: { x:1, y:1, effect: '360', fade: true, cssSpeed: 600 }
    };

    $('#effects-select').change(function(){
        var effect = $(this).val();
        $slider.fadeTo( 0,0 ).html( html );
        $('.stop').hide();
        $('.start').show();

        setTimeout(function(){
            $('.slider').tilesSlider($.extend( {}, defaults, effects[ effect ]));
            $slider.fadeTo( 0,1 );
            $('body').removeClass('tiles-preload');
        }, 100 );

        $('.code').empty().html(function() {
            var e = effects[ effect ], c = [];
            for ( var i in e ) {
                if ( i !== 'effect' ) {
                    c.push('<code>'+ i +': '+ e[i] +'</code>');
                }
            }
            return c.join('');
        });
    });

    $('.start').click(function() {
        $(this).hide();
        $('.stop').show();
        $('.slider').tilesSlider('start');
    });

    $('.stop').click(function() {
        $(this).hide();
        $('.start').show();
        $('.slider').tilesSlider('stop');
    });

    $('.slider').tilesSlider( $.extend( {}, defaults, effects['default'] ) );

</script>


<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="col-md-12">
        <div class="panel group-topic-list no-border">
            <div class="panel-heading"  style="padding:15px 15px;">
                我的博文
                <span class="pull-right" >
                    <a class="btn btn-primary m-t-n4" href="">查看更多</a>
                </span>
            </div>
        </div>
        <div class="panel-body " style="padding:0px;">
            <div class="post-list-item" th:each="article: ${articles.list}">
                <div class="post-list-item-container">
                    <a th:href="${commons.permalink(article)}" class="item-thumb  bg-deepgrey"
                       th:style="'background-image:url('+@{${commons.show_thumb(article)}}+');'">
                        <dir class="item-desc" th:text="${article.tags}"></dir>
                    </a>
                    <div class="item-slant reverse-slant &lt; bg-deepgrey"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a th:href="${commons.permalink(article)}"
                                                   th:text="${article.title}"></a>
                        </div>
                        <div class="item-meta clearfix">
                            <div th:class="'item-meta-ico '+ ${commons.show_icon(article.cid)}"
                                 th:style="'background: url('+@{/user/img/bg-ico.png}+');no-repeat;background-size: 40px auto;' "></div>
                            <div class="item-meta-cat" th:utext="${commons.show_categories(article.categories)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--<div class="lists-navigator clearfix">-->
        <!--<div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>-->
    <!--</div>-->
    <div class="col-md-12">
        <div class="panel group-topic-list no-border">
            <div class="panel-heading"  style="padding:15px 15px;">
                图库
                <span class="pull-right" >
                    <a class="btn btn-primary m-t-n4" href="">查看更多</a>
                </span>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px;">
        <div class="containerView">
            <div class="box-container">
                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            God in Creation<span class="name">Matt Scribner</span>
                            <div class="row">92 likes - 1,410 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateRight" data-return="">
                        <img th:src="@{/user/pictureEffect/img/1.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/1516643-God-in-Creation" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Zephaniah 3:17<span class="name">Matt Scribner</span>
                            <div class="row">119 likes - 1,826 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateUp" data-return="">
                        <img th:src="@{/user/pictureEffect/img/2.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/1120386-Zephaniah-3-17" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Rejoice Always<span class="name">Matt Scribner</span>
                            <div class="row">135 likes - 1,296 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
                        <img th:src="@{/user/pictureEffect/img/3.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/854408-Rejoice-Always" target="_blank"></a>
                </div>


                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Colossians 1:16<span class="name">Matt Scribner</span>
                            <div class="row">123 likes - 1,492 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateRight" data-return="">
                        <img th:src="@{/user/pictureEffect/img/4.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/907170-Colossians-1-16" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Be A Man!<span class="name">Matt Scribner</span>
                            <div class="row">84 likes - 1,157 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateDown" data-return="">
                        <img th:src="@{/user/pictureEffect/img/5.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/789907-BE-A-MAN" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Philippians 4:13<span class="name">Matt Scribner</span>
                            <div class="row">77 likes - 1,017 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
                        <img th:src="@{/user/pictureEffect/img/6.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/512363-Philippians-4-13" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Philippians 4:13<span class="name">Matt Scribner</span>
                            <div class="row">77 likes - 1,017 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
                        <img th:src="@{/user/pictureEffect/img/2.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/512363-Philippians-4-13" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Philippians 4:13<span class="name">Matt Scribner</span>
                            <div class="row">77 likes - 1,017 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="rotateLeft" data-return="">
                        <img th:src="@{/user/pictureEffect/img/4.jpg}" alt="" />
                    </div>
                    <a class="link" href="https://dribbble.com/shots/512363-Philippians-4-13" target="_blank"></a>
                </div>
            </div>
        </div>
        </div>
    </div>



</div>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>
